@model IEnumerable<TechMoveGLMS.Models.Entities.Client>

@{
    ViewData["Title"] = "Clients";
}
<!--(W3Schools 2026)(Bootstrap Team 2026)-->
<h1>Clients</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Client</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact Details</th>
            <th>Region</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.ContactDetails</td>
                <td>@item.Region</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!--(W3Schools 2026)(Bootstrap Team 2026)-->
<!--(Bootstrap Team ,2025) Examples [online] Available at: https://getbootstrap.com/docs/5.3/examples/-->
<!--(W3Schools ,2026) CSS Examples [online] Available at: https://www.w3schools.com/css/css_examples.asp -->
<!--(W3Schools ,2026) CSS HTML Tutorial[online] Available at: https://www.w3schools.com/html/default.asp-->